<div class="access-denied">
    <div class="dummy-container">
        <div class="container container-box">
            <div class="row access-denied-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 access-content">
                    <h2>Access denied!</h2>
                    <p>We're sorry, but you do not have required permissions to access this page.Please contact the site
                        administrator.</p>
                    <span>Email:<a href="#">support@ameso.in</a></span>
                    <br>
                    <span>Phone no:9342003729</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 access-img">
                    <img src="../../../assets/images/access_denied_04-Converted-768x541.png" alt=""
                        class="access-denied-img">
                    <div class="logout-div">
                        <span>Click to <a href="">Logout</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="../../../assets/images/Vectors 2.png" alt="#" class="vector-2">
</div>