<div class="login-main">
    <div class="login">
        <div class="login-div">
        <div class="login-logo">
            <img src="../../assets/image 85.png" alt=""  class="img-1">
        </div>
        <div class="login-content">
            <p>Sign in and start managing</p>
            <form action="" [formGroup]="LoginForm">
                <div class="form-group">
                    <input type="text" placeholder="Login" name="login" id="login" formControlName="login">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" id="password" formControlName="password">
                </div>
                <div class="forgot-pass">
                    <span>Forgot password?</span>
                </div>
                <button class="login-btn" type="submit">Login</button>
                </form>
            </div>
            </div>
           </div>
           <img src="../../assets/Vectors.png" alt="" class="img-2">
        </div>
    